@font-face {
    font-family: intro;
    src: url('../assets/fonts/Intro_0.otf');
}

@font-face {
    font-family: montserrat;
    src: url('../assets/fonts/Montserrat-Black.otf');
}

@font-face {
    font-family: genshin;
    src: url('../assets/fonts/mihoyo.ttf');
}
@font-face {
    font-family: rubik;
    src: url('../assets/fonts/Rubik-Light.ttf');
}

.bgdirt {
    background-image: url("/assets/dirt.jpg");
    background-size: cover;
    background-repeat: repeat;
}

.loginbox, .updatebox, .featurebox, .sfcalcbox  {
    background-color: rgba(238, 238, 238, 255);
    border: 2px solid #72777e;
    position: sticky;
    z-index: 0;
    width: 450px;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.updatebox, .featurebox {
    width: 80%;
}

.sfcalcbox {
    border-radius: 10px;
    width: 80%;
}

.inputlogin {
    width: 350px;
    height: 40px;
    border-radius: 5px;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

input {
    text-align: center;
    background-color: #ffffff;
}

.logintext {
    font-family: intro;
    font-size: 30px;
}

.sfcalctext {
    font-family: rubik;
    font-weight:bolder;
    font-size: 20px;
}

.submit-box {
    font-size: 14px;
    font-family: intro;
    background-color: #008542;
    width: 25%;
    padding: 7px 0;
    border-radius: 7px;
    outline: none;
    border: none;
    color: white;
}


.signup {
    text-decoration: none;
    font-weight: bold;
    color: #0f8b4c;
}

.navtext {
    color: white;
    font-family: montserrat;
}

.error {
    color: red;
    font-size: 13px;
}

.additional {
    color: #898181;
    font-size: 12px;
    font-family: rubik;
    margin-top: 10px;
}

.updatedate {
    font-family: rubik;
    font-size: 20px;
    text-align: left;
}

.updatenote {
    font-family: rubik;
    font-size: 16px;
    text-align: left;
}

.wrap-img-carousel {
    padding: 0;
    border-radius: 0.5vw;
    width:100%; 
    justify-content: center;
    display: grid;
    overflow: hidden;        
}

img.img-carousel {
    width:100%;  
    height: 300px;
    object-fit:cover;
    border-radius: 0.5vw;
    border: 5px solid;
    border-color: rgb(114, 114, 114);
}

.featuretext {
    margin-top: 10px;
    font-family: intro;
    color: rgba(4,134,68,255);
    text-decoration: none;
}


.footer {
    color: white;
    font-weight: bold;
    font-family: genshin;
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.card-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: 100% 50%;
    object-position: 50% 100%;
    border: 5px solid rgb(85, 85, 85);
    border-radius: 8px;
}

.featuredis {
    width: 70%;
    margin: auto;
    margin-top: 10px;
    font-family: rubik;
}

.img-profile {
    height: 35px;
    padding: 3px;
    background-color: white;
    border: 2px solid black;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    margin-right: 40px;
}

.dropdown-menu {
    min-width: 8rem;
}

.inputitems {
    border-radius: 5px;
    width: 16%;
    height: 35px;
}

.categoryitems {
    border-radius: 5px;
    width: 50%;
    height: 35px;
}

.resultitem {
    border: 5px solid rgb(85, 85, 85);
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 100px;
}

#itemsimage {
    width: 17%;
}

.submitcalc {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: intro;
    background-color: #008542;
    width: 120px;
    padding: 7px 0;
    border-radius: 7px;
    outline: none;
    border: none;
    color: white;
}

.tutorialhead {
    width: 320px;
}

.definisi {
    width: 75%;
    margin: auto;
    margin-top: 2em;
}
.whatsfhavehead {
    font-family: intro;
    font-size: 25px;
}
.imagesfhave{
    margin-top: 1em;
    font-family: intro;
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.whatsfdo {
    border: 5px solid rgb(221, 221, 221);
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    width: 150px;
}
.nodec {
    text-decoration: none;
    color: black;
}

.tutorialbg {
    background-color: rgb(255, 255, 255);
    width: 90%;
    border: 2px solid #72777e;
    position: sticky;
    z-index: 0;
    padding: 20px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
}

.tutorialdetailhead {
    font-family: genshin;
    font-size: 40px;
    text-align: left;
}

.headimangetutorial {
    padding: 15px;
    margin: auto;
    color: white;
    background-color: #008542;
    font-size: 20px;
    font-family: intro;
    border-radius: 15px 15px 0 0;   
}

.isitutorial {
    font-family: rubik;
    text-align: left;
    width: 100%;
}

.headcontent {
    border: solid 2px black;
    border-radius: 5px 5px 0 0;
    padding: 10px;
    font-family: rubik;
    width: 320px;
}
.isicontent {
    border: solid 2px black;
    border-radius: 0 0 5px 5px;
    text-align: left;
    padding: 10px;
    font-family: rubik;
    width: 320px;
}

.definitiontable {
    border: solid 2px #98e4be;
    background-color: #008542;
    color: white;
    font-family: intro;
    padding: 5px;
}

.isidefinitiontable {
    border: solid 2px #008542;
    color: rgb(0, 0, 0);
    font-family: intro;
    padding: 5px;
}

.imgicon {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .loginbox, .updatebox {
        width: 100%;
        height: 60%;
        z-index: 0;
    }

    .inputlogin {
        width: 80%;
    }
    
}


@media only screen and (max-width: 999px) {
    .wrap-img-carousel {
        height: 50vw;
    }

    .card-image {
        height: 300px;
    }
    .dropdown-menu {
        max-width: 8rem;
    }
    .inputitems {
        width: 150px;
    }
    #itemsimage {
        width: 100px;
    }
    .categoryitems{
        width: 80%;
    }
    .sfcalcbox {
        margin-top: 50px;
    }
    .definisi {
        width: 90%;
        margin: auto;
        margin-top: 1em;
        font-size: 15px;
    }
    .whatsfdo {
        width: 100px;
    }
    .imagesfhave {
        font-size: 10px;
    }
    .headimangetutorial {
        width: 50%;
    }
    .isitutorial {
        width: 100%;
    }
    .imgicon {
        width: 100%;
    }
    .definitiontable {
        font-size: 0.7em;
    }
    .isidefinitiontable {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 599px) {
    .wrap-img-carousel {
        height: 60vw;
    }
    .tutorialhead {
        width: 80%;
    }
    .whatsfhavehead {
        font-size: 1.2em;
    }
    
}